.textadult{
    font-family:  Raleway, Roboto, sans-serif !important;
    font-weight: 100;
}
.bg-nav{
    background-color: #bce4fb !important;
}
.bg-zinc-100{
    background-color: #bce4fb !important;
}